.masonryWrapper {
  margin: 1.5rem;
}

.gridImage {
  z-index: 10;
  max-width: calc(calc(100vw / 3) - 2rem);
  object-fit: contain;
  width: auto;
  height: auto;
}

@media (max-width: 900px) {
  .gridImage {
    max-width: calc(calc(100vw / 2) - 2rem);
  }
}

@media (max-width: 768px) {
  .gridImage {
    max-width: calc(100vw - 2rem);
  }
}
