.container {
  padding: 0 2rem;
}

.menu {
  --menu-item-size: clamp(2rem, 6vw, 10vh);

  height: 85vh;
  max-height: 85vh;
  display: flex;
  align-items: center;
}

.menuItem {
  font-size: var(--menu-item-size);
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

  display: block;
  transition: opacity 400ms ease, font-size 200ms ease;
}

.menuItems {
  margin-left: clamp(3rem, 15vw, 32rem);
  max-height: 85vh;
}

.menuItems:hover > .menuItem {
  opacity: 0.3;
  font-size: var(--menu-item-size);
}

.menuItems:hover > .menuItem:hover {
  opacity: 1;
  font-size: clamp(3rem, 7vw, 12vh);
}

.submenuItem {
  opacity: 0.3;
}

.submenuItem:hover {
  opacity: 1;
}

@keyframes slideIn {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.submenuItem {
  font-size: clamp(1rem, 3vw, 4vh);
  padding-left: clamp(2rem, 5vw, 6rem);
  animation-name: slideIn;
  animation-duration: 400ms;
}
