.header {
  padding: 15px 32px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0.6em;
  z-index: 15;
}

.slightlyTransparent {
  opacity: 0.9;
}

.pointer {
  cursor: pointer;
}

.text,
.icon {
  vertical-align: middle;
  display: inline-block;
}

.icon {
  margin-right: 0.5em;
  opacity: 0.4;
}

.darkModeToggle {
  vertical-align: middle;
  display: inline-block;
}
